In [ ]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
Order list: Python 
            R
            SQL

Some of the commonly used libraries used by Data Scientists include:
Order list: NumPy
            SciPy
            Matplotlib
            Sickit-learn
            Tensor-Flow

In [8]:
from IPython.display import HTML

table_html = '''
<table style="border-collapse: collapse;">
  <tr style="border: 1px solid black;">
    <th style="border: 1px solid black; padding: 8px;">Data Science Tools</th>
  </tr>
  <tr style="border: 1px solid black;">
    <td style="border: 1px solid black; padding: 8px;">Jupyter Notebook</td>
  </tr>
  <tr style="border: 1px solid black;">
    <td style="border: 1px solid black; padding: 8px;">RStudio</td>
  </tr>
  <tr style="border: 1px solid black;">
    <td style="border: 1px solid black; padding: 8px;">Visual Studio Code</td>
  </tr>
</table>
'''

display(HTML(table_html))

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5

17

In [12]:
print("This will convert 200 minutes to hours by diving by 60")
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

# Objectives: 
unordered list :  List popular languages for Data Science
                  Some of the commonly used libraries used by Data Scientists include:
                  In this notebook, Data Science Tools and Ecosystem are summarized.
                  (3*4)+5
                   This will convert 200 minutes to hours by diving by 60

## Author :
   Yash Garale